/*CODE 1 (#CB6D6D): RADIO, CHECKBOX MESSAGE TYPE*/
.c_code_1,
.chat-header,
.chat-right .chat-body .next_message button,
.chat-right .chat-body .select_box button
{
    background-color: #44bec7;
}
.chat-header.is_gradation,
.chatview-container .panel-footer .progress-bar.is_gradation
{
    background: linear-gradient(270deg, #44bec7, #d6de4d);
}
.chat-right .chat-body textarea,
.chat-right .chat-body input,
.chat-right .chat-body select,
.chat-right .chat-body .card_payment_group .card_type_box .card_type_item img.active,
.chat-right .chat-body .radio_group .radio_img_item.active .image_box img,
.chatview-container .cart_item,
.cart_preview_container input,
.cart_preview_box .price_total_box,
.cart_group .price_total_box
{
    border-color: #44bec7;
}
.chat-right .chat-body .carousel_group .slick-arrow.slick-prev:before,
.chat-right .chat-body .carousel_group .slick-arrow.slick-next:before,
.chatview-container .product_price_total_box .product_price,
.cart_preview_box .price_total_box,
.cart_group .price_total_box,
.number_input_box button
{
    color: #44bec7;
}
.chat-right .chat-body .carousel_group .carousel_item.active {
    border: 1px solid #44bec7;
}
/*select2*/
.chat-right .chat-body .select2-container--default .select2-selection--single,
.select2-dropdown,
.chat-right .chat-body .calendar_group .calendar_embed .bootstrap-datetimepicker-widget
{
    border-color: #44bec7 !important;
}
.chat-right .chat-body .select2-container--default .select2-selection--single .select2-selection__arrow b
{
    border-color: #44bec7 transparent transparent transparent;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active,
.chat-right .chat-body .calendar_group .calendar_embed .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child,
.chat-right .chat-body .calendar_group .calendar_embed .bootstrap-datetimepicker-widget table thead tr:first-child th:hover
{
    background-color: #44bec7 !important;
}
.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #44bec7 !important;
}
.chat-right .chat-body .calendar_group .input_content .input-group-addon
{
    border-color: #44bec7 !important;
    color: #44bec7 !important;
}
/*CODE 2 (#D38390)*/
.c_code_2,
.chat-left .text_group,
.chat-right .chat-body .upload_group button.file_select_btn
{
    background-color: #60CFC3;
}
/*CODE 3 (#FAEEF0)*/
.c_code_3,
.radio_option,
.checkbox_option,
.chat-right .chat-body .radio_group .radio_image_container .icheck_input_box
{
    background-color: #E3F3F1;
}
/*CODE 4 (#FFD4D8)*/
.c_code_4,
.chatview-container .panel-footer .progress,
.radio_option.active,
.checkbox_option.active,
.number_input_box button
{
    background-color: #C1F5EF;
}
.select2-container--default .select2-results__option[aria-selected=true],
.chat-right .chat-body .calendar_group .input_content .input-group-addon
{
    background-color: #C1F5EF !important;
}
.chat-right .chat-body .carousel_group .carousel_item {
    border: 1px solid #C1F5EF;
}
/*CODE 5 (#DB9999)*/
.c_code_5,
.chatview-container .product_remove_box img
{
    background-color: #7CD2D8;
}
/*CODE 6 (#DBD6D6)*/
.c_code_6,
.chat-right .chat-body .next_message button.disabled,
.chat-right .chat-body button.carousel_select.disabled
{
    background-color: #D3D9DA;
}
.chat-header .header_cart_box.disabled svg path {
    fill: #D3D9DA;
}
/*CODE 7 (#CD7272)*/
.c_code_7 {
    background-color: #3EBCC5;
}
/*CODE 8 (#E3B1B2)*/
.c_code_8 {
    background-color: #91D9DD;
}
/*CODE 9 (#F4ECEC)*/
.c_code_9,
.chatview-container .wc-message-pane,
.chatview-container .panel-footer
{
    background-color: #EBF2F3;
}
/*CODE 10 (#AA6E6E)*/
.c_code_10,
.chatview-container .panel-footer .progress-bar
{
    background-color: #4E9BA1;
}
/*CODE 11 (#D4B6B6)*/
.c_code_11 {
    background-color: #A6CDD0;
}
/*CODE 12 (#907475)*/
.msg_group .title,
.chat-right .chat-body textarea,
.chat-right .chat-body input,
.chat-right .chat-body select,
.chat-right .chat-body .select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--open .select2-dropdown--above,
.select2-results__option,
.chat-right .chat-body .carousel_group .item_title,
.chat-right .chat-body .carousel_group .item_subtitle,
.chat-right .chat-body .bootstrap-datetimepicker-widget,
.chat-right .chat-body .upload_group .title a,
.chat-right .chat-body .upload_group .title a:hover,
.chatview-container .cart_item .product_name,
.chatview-container .cart_item .product_desc,
.header_cart_box .cart_quantity,
.cart_preview_container input,
.cart_preview_container .empty_label,
.chat-right .chat-body .cart_group .empty_label,
.chatview-container .product_quantity_box .product_quantity_label,
.chatview-container .product_price_box,
.chatview-container .product_price_total_box,
.number_input_box button:hover
{
   color: #77989A;
}
/*CODE 13 (#FFFFE7): Text area input*/
.c_code_13,
.chat-right .chat-body textarea:not(.readonly),
.chat-right .chat-body input:not(.readonly),
.chat-right .chat-body select,
.cart_preview_container input:not(.readonly)
{
    background-color: #FFFFE7;
}
/*CODE 14 (#7B5F5F): */
.c_code_14 {
    background-color: #5A7D80;
}
.chat-right .chat-body .option_label {
    color: #5A7D80;
}
/*CODE 15 (#A3A3A3): placeholder*/
.c_code_15 {
    background-color: #A3A3A3;
}
.chat-right .chat-body textarea::placeholder, .chat-right .chat-body input::placeholder {
    color: #A3A3A3;
}
.chat-right .chat-body textarea:-ms-input-placeholder, .chat-right .chat-body input:-ms-input-placeholder {
    color: #A3A3A3;
}
.chat-right .chat-body textarea::-ms-input-placeholder, .chat-right .chat-body input::-ms-input-placeholder {
    color: #A3A3A3;
}